/* Header */

#header-blog {
    position: relative;
    width: auto;
    height: 100%;
    padding-bottom: 0px !important;
    background-color: #6c757d;
}

#header-blog .blog-title {
    width: 800px;
    margin: 100px auto 0 auto;
}

#header-blog h3 {
    font-size: 48px;
    color: rgb(216, 151, 67);
}

#header-blog .blog-title-text {
    font-size: 14px;
    color: #fff;
    margin-top: 50px;
}

.box-bg {
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.box-bg-2 {
    width: 200px;
    height: 250px;
    overflow: hidden;
}

.img-header-blog {
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
    transition: all 0.5s ease;
}

.img-header-blog:hover {
    transform: scale(1.2);
}

.img-header-blog-2 {
    width: 100%;
    height: 250px;
    background-size: cover;
    background-position: center;
    transition: all 0.5s ease;
}

.img-header-blog-2:hover {
    transform: scale(1.2);
}

@media (min-width: 768px) and (max-width: 991.98px) {
    #header-blog .blog-title {
        width: 600px;
    }

    #header-blog h3 {
        font-size: 48px;
    }

    #header-blog .blog-title-text {
        font-size: 14px;
    }
}

@media (min-width: 576px) and (max-width: 767.9px) {
    #header-blog .blog-title {
        width: 600px;
    }

    #header-blog h3 {
        font-size: 36px;
    }

    #header-blog .blog-title-text {
        font-size: 12px;
    }
}

@media (max-width: 575.9px) {
    #header-blog .blog-title {
        width: 500px;
    }

    #header-blog h3 {
        font-size: 36px;
    }

    #header-blog .blog-title-text {
        font-size: 12px;
    }
}

/* Card Collection */

#card-collection {
    position: relative;
    padding: 50px 15px 20px 15px;
}

#card-collection .cards {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

#card-collection .card {
    border: 1px solid #b9b9b9 !important;
}


#card-collection .card-title {
    color: #fff;
}

#card-collection .card-photo-title {
    color: #000;
    font-size: 16px;
}

#card-collection .card-photo-text {
    color: #b9b9b9;
    font-size: 12px;
}

/* Content Image */

#content-image {
    position: relative;
    padding: 50px 15px 50px 15px;
}

.h-px {
    height: 767px !important;
}

#content-image .carousel-caption {
    text-align: left !important;
    margin-left: -100px;
}

#content-image .carousel-caption h3 {
    font-size: 56px;
    color: #fff;
}

#content-image .carousel-text {
    display: block;
    position: fixed;
    width: 900px;
    top: 30px;
    left: 80px;
}

#content-image .card-text {
    padding-top: 12.5px;
}

#content-image .text-m {
    margin-left: 450px;
}

#content-image .list {
    background-color: #5f5f5f;
}

#content-image .list-group-item {
    border: none !important;
    background: none;
}

.list-title {
    background-color: rgb(58, 72, 204) !important;
    color: #fff;
    font-size: 18px;
    text-align: center;
}

#content-image .list-a {
    font-size: 14px;
    text-align: center;
    border-top: 2px solid #868686 !important;
}

.list-a a {
    color: rgb(238, 156, 89);
}

.news-img-box {
    width: 115px;
    height: 100px;
}

.nt-1 {
    color: rgb(65, 143, 71);
    font-size: 10px;
    margin-top: 10px;
}

.news-text {
    color: #fff;
    font-size: 11px;
}

@media (min-width: 992px) and (max-width: 1200px) {
    #content-image .carousel-text {
        width: 700px;
    }

    #content-image .text-m {
        margin-left: 400px;
    }
}

@media (min-width: 768px) and (max-width: 991.9px) {
    #content-image .carousel-text {
        width: 650px;
    }

    #content-image .text-m {
        margin-left: 500px;
    }

    .h-px {
        height: 600px !important;
    }

    .news-img-box {
        width: auto;
        height: 200px;
    }

    .nt-1 {
        color: rgb(65, 143, 71);
        font-size: 28px;
    }

    .news-text {
        font-size: 16px;
    }
}

@media (max-width: 767.9px) {
    .news-img-box {
        width: auto;
        height: 180px;
    }

    .nt-1 {
        color: rgb(65, 143, 71);
        font-size: 24px;
    }

    .news-text {
        font-size: 12px;
    }
}

@media (max-width: 575.9px) {
    .h-px {
        height: 400px !important;
    }
}


/* Content Text */

#content-text {
    position: relative;
    padding: 20px 15px 50px 15px;
    width: auto;
    height: auto;
}

.text-p {
    margin-top: 50px;
    height: auto;
    text-align: justify;
    font-size: 14px;
    color: rgb(139, 139, 139);
}

#content-text .list-group-item {
    border: none !important;
    background: none;
    padding: 10px 0px 10px 0px !important;
}

.ct-right-tab {
    background: url(/asset/img/ct-img-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
}

.text-box {
    padding: 30px;
}

.s1 {
    padding-left: 20px;
    font-size: 12px;
}

.card-text {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 12px;
    text-align: justify;
}

.btn-right-tab {
    border: 1px solid #000;
    border-radius: 50px;
    background: none;
    font-size: 10px;
    width: 100px;
}

.btn-right-tab:hover {
    border: 1px solid #fff;
    background-color: #fff;
}

.btn-design-tab {
    background-color: rgb(66, 153, 127);
    border: 2px solid rgb(66, 153, 127);
    color: #fff;
    width: 150px;
    height: 150px;
}

.btn-design-tab:hover {
    border: 2px solid #000;
}

.btn-education-tab {
    background-color: rgb(100, 125, 194);
    border: 2px solid rgb(100, 125, 194);
    color: #fff;
    width: 150px;
    height: 150px;
}

.btn-education-tab:hover {
    border: 2px solid #000;
}