/* Navbar */

.navbar {
    background-color: #fff;
}

.navbar-brand {
    padding-left: 50px;
}

.nav-logo {
    width: 120px;
    height: 50px;
}

#navbar-link {
    margin: 0 auto;
}

#navbar-link .navbar-nav {
    width: auto;
    margin: 0 auto;
}

#navbar-link .nav-item {
    margin-right: 50px;
}

#navbar-link .effect {
    width: 80px;
}

#navbar-link a:hover {
    color: rgb(73, 165, 240);
}

#navbar-search {
    width: 80%;
    margin: 0 10% 0 10%;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 5px;
}

#navbar-search .input-group-text {
    border: none !important;
    background: none;
    color: rgb(172, 172, 172);
}

#navbar-search .form-control {
    border: none !important;
    background: none;
    color: rgb(172, 172, 172);
    width: 200px;
}

#navbar-search .custom-select {
    border: none !important;
    color: rgb(172, 172, 172);
    width: 50px !important;
}

#navbar-search .fa-search {
    color: rgb(172, 172, 172);
}

#navbar-search .btn-search {
    border: none !important;
    background-color: rgb(73, 165, 240);
    color: #fff;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-right: 1px;

}

@media screen and (max-width: 992px) {
    #navbar-link {
        margin: 0;
    }

    #navbar-link .nav-item {
        width: 200px;
        padding: 0 0 0 70px;
    }
}

@media screen and (max-width: 1200px) {
    #navbar-link {
        margin: 0;
    }

    #navbar-link .nav-item {
        width: 180px;
        padding: 0 0 0 70px;
        margin-left: 10px;
    }
}

#navigation .navbar-btn {
    margin-left: 100px;
}

@media screen and (max-width: 992px) {
    #navigation .navbar-btn {
        padding: 0 0 0 200px !important;
    }
}

.navbar-btn .nav-btn {
    position: relative;
    color: rgb(172, 172, 172) !important;
    background: none;
}

#navigation .dropdown-user {
    left: -140px !important;
    width: 200px !important;
    border-radius: 0px !important;
}

#navigation .dropdown-login {
    left: -330px !important;
    width: 400px !important;
    border-radius: 0px !important;
}

#navigation .dropdown-item {
    font-size: 14px !important;
}

@media screen and (max-width: 992px) {
    #navigation .navbar-btn {
        padding: 0 80px !important;
    }

    #navigation .dropdown-user {
        left: 0px !important;
        width: 200px !important;
        border-radius: 0px !important;
    }

    #navigation .dropdown-login {
        left: 0px !important;
        width: 400px !important;
        border-radius: 0px !important;
    }

    #navigation .dropdown-item {
        font-size: 14px !important;
    }
}

/* Header */

.jumbotron {
    margin: 0px !important;
    padding-bottom: 20px !important;
}

#header .container-fluid {
    height: 600px;
}

#header .effect:hover {
    -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.6);
    box-shadow: 0 16px 12px -12px rgba(0, 0, 0, 0.6);
    opacity: 0.9;
}

#search-input {
    position: relative;
    top: -100px;
    z-index: 106;
    background-color: #fff;
    width: 90%;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0 3px 6px 0 rgba(102, 102, 102, 0.15), 0 6px 16px 0 rgba(102, 102, 102, 0.19);

}

#search-input input {
    border: none;
    border-radius: 0px;
    box-shadow: none;
    background-color: #fff;
    color: rgb(172, 172, 172);
    height: 40px;
    margin: auto;
    margin-left: 10px !important;
}

input[type="search"].search-text::-webkit-input-placeholder {
    color: rgb(218, 218, 218);
}

#search-input button {
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #b6b6b6;
    padding: 0 8px 0 10px;
    height: 60px;
    width: 60px;
}

#search-input button:hover {
    border: 0;
    box-shadow: none;
    color: rgb(73, 165, 240);
}

.btn-style {
    font-size: 25px;
    padding-top: 2px !important;
    padding-right: 5px !important;
    padding-left: 5px !important;
    margin-right: 5px !important;
    width: 40px !important;

}

.btn-style p {
    font-size: 10px;
}

.upper-title-text {
    color: #fff;
    font-size: 18px;
}

.header-title {
    position: relative;
    top: -500px;
    left: 300px;
    z-index: 99;
    width: 800px;
    font-size: 12px;
    color: #b6b6b6;
    font-style: oblique;
    text-align: center;
}

.img-header {
    position: relative;
    z-index: 98;
    width: 100%;
    height: 600px;
}

.title h1 {
    position: relative;
    width: 800px;
    z-index: 2;
    font-size: 80px;
    font-style: italic;
    color: #000 !important;
    margin-bottom: 50px;
}

.title-text {
    font-style: normal;
    width: 600px;
    color: #fff;
    margin: 0 auto;
}

@media (min-width:992px) and (max-width: 1200px) {
    .header-title {
        position: relative;
        top: -500px;
        left: 150px;
        z-index: 99;
        width: 800px;
        font-size: 12px;
    }

    .title h1 {
        position: relative;
        width: 800px;
        z-index: 2;
        font-size: 80px;
        font-style: italic;
        color: #000 !important;
        margin-bottom: 50px;
    }
}

@media (min-width:576px) and (max-width: 991.98px) {
    .jumbotron {
        position: relative;
        top: 250px;
    }

    .header-title {
        position: relative;
        top: -700px;
        left: 150px;
        z-index: 99;
        width: 600px;
        font-size: 12px;
    }

    .title h1 {
        position: relative;
        width: 600px;
        z-index: 102;
        font-size: 60px;
        font-style: italic;
        color: #000 !important;
        margin-bottom: 20px;
        text-align: center;
        margin: 0 auto;
    }

    .title-text {
        position: relative;
        font-style: normal;
        text-align: center;
        margin: 0 auto;
        color: #fff;
        z-index: 104;
    }

    .img-header {
        position: relative;
        z-index: 99;
        top: -280px;
    }

    #search-input {
        position: relative;
        top: -310px;
        z-index: 106;
        background-color: #fff;
        width: 90%;
        margin: 0 auto;
        border-radius: 5px;
        box-shadow: 0 3px 6px 0 rgba(102, 102, 102, 0.15), 0 6px 16px 0 rgba(102, 102, 102, 0.19);
    }

    #search-input input {
        background-color: #fff;
    }
}

@media (max-width:575.9px) {
    .header-title {
        position: relative;
        top: -400px;
        left: 50px;
        z-index: 99;
        width: 400px;
        font-size: 12px;
    }

    .title h1 {
        position: relative;
        width: 400px;
        z-index: 102;
        font-size: 40px;
        font-style: italic;
        color: #000 !important;
        margin-bottom: 20px;
        text-align: center;
        margin: 0 auto;
    }

    .title-text {
        font-style: normal;
        text-align: center;
        margin: 0 auto;
        width: 300px;
    }

    #search-input {
        top: -30px;
    }
}

/* Popular Video */

#popular-vid {
    position: relative;
    padding-bottom: 50px;
}

.section-header {
    position: relative;
    margin-bottom: 30px;
}

.section-header .title-bar {
    font-size: 36px;
}

.title-bar:after {
    content: "";
    display: block;
    height: 4px;
    width: 60px;
    background-color: rgb(73, 165, 240);
    margin-top: 5px;
}

.text-center .title-bar:after {
    margin: 40px auto 0px;
}

.card {
    border: none !important;
    background-color: none !important;
    background-clip: none !important;
    margin: 15px !important;
}

#popular-vid .card-img-top:hover {
    opacity: 0.6;
    box-shadow: 0 3px 6px 0 rgba(53, 53, 53, 0.15), 0 6px 16px 0 rgba(78, 78, 78, 0.19);
}

.user-card-img {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.card-title {
    margin-top: 15px;
    font-size: 16px;
}

.card-hour {
    margin-top: 15px;
    color: #b6b6b6;
    font-size: 12px;
}

#popular-vid a {
    text-decoration: none;
    color: #000;
}

#popular-vid a:hover {
    color: #b6b6b6;
}

/* Fitured Photo */

#fitured-photo {
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #b6b6b6;
}

#fitured-photo a {
    text-decoration: none;
    color: #fff;
}

.card-title:hover {
    color: rgb(216, 151, 67);
    text-decoration: underline;
}

#fitured-photo .card:hover {
    opacity: 0.8;
    box-shadow: 0 3px 6px 0 rgba(53, 53, 53, 0.15), 0 6px 16px 0 rgba(78, 78, 78, 0.19);
}

.section-header .title-bar-2 {
    font-size: 36px;
}

.title-bar-2:after {
    content: "";
    display: block;
    height: 4px;
    width: 60px;
    background-color: rgb(216, 151, 67);
    margin-top: 5px;
}

.text-center .title-bar-2:after {
    margin: 40px auto 0px;
}

#fitured-photo .title-btn {
    margin-top: 20px;
}

.title-btn .btn-2 {
    font-size: 12px;
    border: 0;
    border-radius: 0px;
    border-bottom: 1px solid #6c757d;
    width: auto;
    background-color: #6c757d;
    color: rgb(216, 151, 67);
}

.title-btn .btn-2:hover {
    border: 0;
    border-radius: 0px;
    border-bottom: 1px solid rgb(216, 151, 67);
    width: auto;
}


/* Indonesia Baik */

#indonesia-baik {
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
}

#indonesia-baik .card {
    width: 400px;
}

#indonesia-baik h3 {
    position: relative;
    z-index: 2;
    top: -70px;
    left: 120px;
    color: rgb(216, 151, 67);
    font-size: 58px;
}

#indonesia-baik h4 {
    position: relative;
    color: rgb(216, 151, 67);
    font-size: 58px;
    margin-top: -10px;
}

#indonesia-baik .v-line {
    background-color: #000;
    height: 150px;
    width: 1px;
    margin: auto;
    margin-top: 250px !important;
    border: none;
}

.card-text-1 {
    width: 280px;
    margin-left: 50px;
}

#indonesia-baik .title-btn .btn-2 {
    font-size: 12px;
    border: 0;
    border-radius: 0px;
    border-bottom: 1px solid #6c757d;
    width: auto;
    background-color: #6c757d;
    color: rgb(216, 151, 67);
    margin-right: 100px;
    margin-left: -85px;
}

#indonesia-baik .title-btn .btn-2:hover {
    border: 0;
    border-radius: 0px;
    border-bottom: 1px solid rgb(216, 151, 67);
    width: auto;
}

#indonesia-baik .title-btn .btn-2-2 {
    font-size: 12px;
    border: 0;
    border-radius: 0px;
    border-bottom: 1px solid #6c757d;
    width: auto;
    background-color: #6c757d;
    color: rgb(216, 151, 67);
    margin-right: 80px;
    margin-left: -75px;
}

#indonesia-baik .title-btn .btn-2-2:hover {
    border: 0;
    border-radius: 0px;
    border-bottom: 1px solid rgb(216, 151, 67);
    width: auto;
}

@media (min-width:992px) and (max-width: 1200px) {
    #indonesia-baik .v-line {
        background-color: #000;
        height: 150px;
        width: 1px;
        margin-left: 55px;
        margin-top: 250px !important;
        border: none;
    }
}


@media (min-width:768px) and (max-width: 991.98px) {
    #indonesia-baik .card {
        width: 200px;
    }


    #indonesia-baik h3 {
        position: relative;
        z-index: 2;
        top: -55px;
        left: 60px;
        color: rgb(216, 151, 67);
        font-size: 36px;
    }

    #indonesia-baik h4 {
        position: relative;
        color: rgb(216, 151, 67);
        font-size: 36px;
        margin-top: -10px;
    }

    #indonesia-baik .col-lg-1 .col-md-1 {
        height: 60px !important;
        width: 10px !important;
    }

    #indonesia-baik .v-line {
        background-color: #000;
        height: 50px;
        width: 1px;
        border: none;
        margin-left: -5px;
    }

    .card-text-1 {
        width: 200px;
        margin-left: -20px;
        margin-top: -60px;
    }

    #indonesia-baik .title-btn .btn-2 {
        font-size: 12px;
        border: 0;
        border-radius: 0px;
        border-bottom: 1px solid #6c757d;
        width: auto;
        background-color: #6c757d;
        color: rgb(216, 151, 67);
        margin-right: 40px;
    }

    #indonesia-baik .title-btn .btn-2:hover {
        border: 0;
        border-radius: 0px;
        border-bottom: 1px solid rgb(216, 151, 67);
        width: auto;
    }

    #indonesia-baik .title-btn .btn-2-2 {
        font-size: 12px;
        border: 0;
        border-radius: 0px;
        border-bottom: 1px solid #6c757d;
        width: auto;
        background-color: #6c757d;
        color: rgb(216, 151, 67);
        margin-right: 10px;
    }

    #indonesia-baik .title-btn .btn-2-2:hover {
        border: 0;
        border-radius: 0px;
        border-bottom: 1px solid rgb(216, 151, 67);
        width: auto;
    }

    #indonesia-baik .justify-content-end {
        justify-content: flex-start !important;
    }
}


@media (max-width:767.9px) {

    #indonesia-baik .v-line {
        position: relative;
        background-color: #000;
        height: 150px;
        width: 1px;
        border: none;
        top: -100px;
    }
}

/* Register Now */

#register-now {
    position: relative;
    padding-bottom: 50px;
    top: -30px;
}

#register-now .card-text {
    text-align: center;
    font-size: 32px;
    font-style: oblique;
    margin-top: 70px;
    margin-bottom: 0px !important;
}

.btn-register {
    width: 200px;
    background-color: rgb(216, 151, 67);
    border-radius: 50px;
    color: white;
    margin-top: 50px;
}

.btn-register:hover {
    width: 200px;
    background-color: rgb(214, 136, 34);
    border-radius: 50px;
    color: white;
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    #register-now .card-text {
        font-size: 26px;
        margin-top: 10px;
        padding: 20px 0 !important;
    }

    .btn-register {
        font-size: 14px;
        margin-top: 30px;
        width: 150px;
    }
}

@media (min-width: 767.9px) and (max-width: 991.9px) {
    #register-now .card-text {
        font-size: 20px;
        margin-top: 10px;
        padding: 20px 0 !important;
    }

    .btn-register {
        margin-top: 5px;
        font-size: 10px;
        width: 100px;
    }
}

@media (max-width: 767px) {
    #register-now .card-text {
        font-size: 16px;
        margin-top: 10px;
        padding: 10px 0 !important;
    }

    .btn-register {
        margin-top: 10px;
        font-size: 10px;
        width: 100px;
    }
}


/* Event */

#event {
    position: relative;
    padding-bottom: 50px;
}

.v-line {
    border-right: 1px solid rgb(187, 187, 187);
    height: 50px;
}

.about-event {
    color: rgb(187, 187, 187);
    font-size: 10px;
    margin-top: 20px;
    margin-right: -18px !important;
}

.about-event:after {
    content: "";
    display: block;
    height: 1px;
    width: 80px;
    background-color: rgb(187, 187, 187);
    margin-top: 10px;
    margin-left: 52.5px !important;
}

#event h1 {
    font-size: 56px;
    margin-top: 10px;
}

#event .card {
    background-color: #000;
    color: #fff;
    width: 600px;
    height: 400px;
}

#event .figure {
    margin-top: 100px !important;
}

#event .list-group-item {
    background: none !important;
    font-size: 12px;
    height: 50px;
}

#event .s1 {
    color: rgb(73, 165, 240);
    font-size: 12px;
    margin-right: 30px;
    margin-left: -18px;
}

#event p {
    margin: 0 0 0 26px;
    font-size: 8px;
    color: #b6b6b6;
    font-style: italic;
}

#event i {
    color: rgb(73, 165, 240);
    font-size: 8px;
    margin-right: 10px;
}

#event .p2 {
    font-size: 8px;
    color: #b6b6b6;
    font-style: italic;
}

#event .event-table {
    margin: 50px 0px 20px 30px;
}

#event .btn-3 {
    font-size: 12px;
    border: 0;
    border-radius: 0px;
    border-bottom: 1px solid #6c757d;
    width: auto;
    background: none;
    color: #fff;
    margin: -20px 0px 0px 35px
}

#event .btn-3:hover {
    border: 0;
    border-radius: 0px;
    border-bottom: 1px solid #fff;
    width: auto;
}

@media (min-width: 992px) and (max-width: 1200px) {
    .about-event:after {
        content: "";
        display: block;
        height: 1px;
        width: 80px;
        background-color: rgb(187, 187, 187);
        margin-top: 10px;
        margin-left: 37.5px !important;
    }

    #event .card {
        background-color: #000;
        color: #fff;
        width: 500px;
        height: 400px;
    }
}

@media (min-width: 768px) and (max-width: 991.9px) {
    .about-event:after {
        content: "";
        display: block;
        height: 1px;
        width: 80px;
        background-color: rgb(187, 187, 187);
        margin-top: 10px;
        margin-left: 17.5px !important;
    }

    #event .card {
        background-color: #000;
        color: #fff;
        width: 600px;
        height: 400px;
        margin: 0 auto !important;
    }
}

@media (min-width:576px) and (max-width: 767.9px) {
    .about-event:after {
        content: "";
        display: block;
        height: 1px;
        width: 80px;
        background-color: rgb(187, 187, 187);
        margin-top: 10px;
        margin-left: 2.5px !important;
    }

    #event .card {
        background-color: #000;
        color: #fff;
        width: 460px;
        height: 350px;
        margin: 0 auto !important;
    }

    #event .list-group-item {
        height: 70px;
    }
}

@media (max-width:575.98px) {
    #event .card {
        background-color: #000;
        color: #fff;
        width: 480px;
        height: 350px;
        left: -10px;
    }

    #event .list-group-item {
        font-size: 8px;
    }
}

/* YML */

#yml {
    position: relative;
    padding-top: 30px;
    padding-bottom: 50px;
    background-color: #b6b6b6;
}

#event .yml-title {
    font-size: 56px;
    margin-left: 30px;
    margin-bottom: -30px;
    padding-top: 50px;
}

#yml .card {
    background: none;
}

#yml .card-body-2 {
    padding-left: 0px !important;
    margin-left: -40px !important;
    margin-right: 20px !important;
}

#yml .card-title {
    font-size: 24px;
    margin-bottom: 30px !important;
}

#yml .card-text {
    color: #5d5d5e;
    font-size: 14px;
}

#yml .btn-4 {
    margin-top: 50px;
    background-color: rgb(73, 165, 240);
    width: 100%;
    height: 180px;
    border: 2px solid rgb(73, 165, 240);
    border-radius: 0px;
    color: #fff;
    font-size: 20px;
}

#yml .btn-4:hover {
    border: 2px solid #fff;
}

#yml .v-line {
    background-color: rgb(138, 138, 138);
    width: 1px;
    height: 150px;
    margin-top: 50px;
    border: none;
}

#yml .h-line {
    background-color: rgb(138, 138, 138);
    width: 250px;
    height: 1px;
    border: none;
    margin-left: 20px;
    margin-top: 5px;
}

#yml .h-line-2 {
    background-color: rgb(138, 138, 138);
    width: 300px;
    height: 1px;
    border: none;
    margin-top: 5px;
    margin-left: -40px;
}

#yml .date {
    margin-top: 10px;
    font-size: 10px;
    color: rgb(112, 112, 112);
    margin-left: -20px;
}

#yml .date-2 {
    margin-top: 10px;
    font-size: 10px;
    color: rgb(112, 112, 112);
    margin-left: 40px;
}

#yml .date .v-time-line {
    background-color: rgb(138, 138, 138);
    width: 1px;
    height: 15px;
    border: none;
    margin-left: -20px;
    margin-right: 15px;
}

#yml .btn-5 {
    font-size: 12px;
    border: 0;
    border-radius: 0px;
    border-bottom: 1px solid #6c757d;
    width: 100px;
    background: none;
    color: #000;
    margin: 40px 0px 0px 15px;
}

#yml .btn-5:hover {
    border: 0;
    border-radius: 0px;
    border-bottom: 1px solid #000;
    width: 100px;
}

#yml .btn-6 {
    font-size: 12px;
    border: 0;
    border-radius: 0px;
    border-bottom: 1px solid #6c757d;
    width: 100px;
    background: none;
    color: #000;
    margin: 40px 0px 0px -40px;
}

#yml .btn-6:hover {
    border: 0;
    border-radius: 0px;
    border-bottom: 1px solid #000;
    width: 100px;
}

@media (min-width: 768px) and (max-width: 991.9px) {
    #yml .btn-4 {
        margin: 50px 200px 0px 220px;
        background-color: rgb(73, 165, 240);
        width: 30%;
        height: 180px;
        border: 2px solid rgb(73, 165, 240);
        border-radius: 0px;
        color: #fff;
        font-size: 20px;
    }

    #yml .btn-4:hover {
        border: 2px solid #fff;
    }
}

/* Footer */

#footer {
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgb(73, 165, 240);
}


#footer .container-fluid {
    padding: 0px 30px 0px 30px !important;
}

#footer .footer-logo {
    margin: 5px;
}

#footer .f-web {
    color: #fff;
    font-size: 10px;
    margin-top: 5px;
}

#footer table th {
    padding-right: 5px;
    padding-bottom: 10px;
    width: 160px;
    font-size: 14px;
    color: #fff;
}

#footer table tr td {
    padding-right: 5px;
    padding-bottom: 10px;
    width: 160px;
    font-size: 12px;
    color: #fff;
}

#footer .footer-table a {
    color: #f0eeec;
}

#footer .footer-table a:hover {
    color: #fff;
}

#footer .btn-7 {
    font-size: 12px;
    border: 0;
    border-radius: 0px;
    border-bottom: 1px solid #c9c9c9;
    width: auto;
    background: none;
    color: #fff;
}

#footer .btn-7:hover {
    border: 0;
    border-radius: 0px;
    border-bottom: 1px solid #fff;
    width: auto;
}

#footer .list-group-item {
    background: none !important;
    border: 0px;
    font-size: 10px;
    margin: 0px !important;
    padding: 5px 0 0 0 !important;
    color: #fff;
}

@media (min-width: 576px) and (max-width: 767.98px) {
    #footer {
        padding-left: 100px;
        padding-right: 100px;
        text-align: center;
    }

    #footer .footer-logo {
        margin-left: auto;
        margin-right: auto;
    }

    #footer table {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 576px) {
    #footer {
        padding-left: 30px;
        padding-right: 30px;
        text-align: center;
    }

    #footer .footer-logo {
        margin-left: auto;
        margin-right: auto;
    }

    #footer table {
        margin-left: auto;
        margin-right: auto;
    }
}