/* login */

#login {
    padding-top: 80px;
}

#login h5 {
    color: #737271;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

#login p {
    color: rgb(184, 184, 184);
    font-size: 10px;
}

.box {
    background-color: white;
    margin: 50px auto 50px auto;
    padding: 50px;
}

.form-style {
    color: #858483;
    font-size: 14px;
}

.form-style2 {
    font-size: 14px;
}

.form-style3 {
    color: #858483;
    font-size: 14px;
}

.form-box {
    border: 1px solid rgb(184, 184, 184);
    border-radius: 5px;
}

.btn-form {
    background-color: rgb(73, 165, 240);
    color: #ffffff !important;
    width: 140px;
}

.hr-style1 {
    margin-top: 30px;
    height: 2px;
    border: 0;
    box-shadow: 0 10px 10px -10px rgb(184, 184, 184) inset;
}

.form-regis {
    margin-top: 18px;
    font-size: 12px;
}

.login-back {
    background-color: white;
    width: 200px;
    text-align: center;
}

#login a {
    text-decoration: none;
    color: rgb(184, 184, 184);
}

#login a:hover {
    color: rgb(73, 165, 240);
}

/* Register */

#register {
    padding-top: 80px;
}

#register h5 {
    color: #737271;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

#register p {
    color: rgb(184, 184, 184);
    font-size: 10px;
}

.box {
    background-color: white;
    margin: 50px auto 50px auto;
    padding: 50px;
}

.form-style {
    color: #858483;
    font-size: 14px;
}

.form-style2 {
    font-size: 14px;
}

.form-style3 {
    color: #858483;
    font-size: 14px;
}

.form-box {
    border: 1px solid rgb(184, 184, 184);
    border-radius: 5px;
}

.btn-form {
    background-color: rgb(73, 165, 240);
    color: #ffffff !important;
    width: 140px;
}

.hr-style1 {
    margin-top: 30px;
    height: 2px;
    border: 0;
    box-shadow: 0 10px 10px -10px rgb(184, 184, 184) inset;
}

.form-regis {
    margin-top: 18px;
    font-size: 12px;
}

#register a {
    text-decoration: none;
    color: rgb(184, 184, 184);
}

#register a:hover {
    color: rgb(73, 165, 240);
}