/* Hearder Result Detail */

#header-result {
    position: relative;
    width: auto;
    height: 100%;
    padding: 150px 40px 50px 40px;
}

#search-input-3 .input-group {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(172, 172, 172);
    width: 75%;
    margin: auto;
}

#search-input-3 input {
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid rgb(255, 255, 255);
    box-shadow: none;
    background-color: rgb(255, 255, 255);
    color: rgb(119, 119, 119);
    height: 60px;
    margin: auto;
    margin-left: 10px !important;
    font-size: 22px;
}

input[type="search"].search-text-2::-webkit-input-placeholder {
    color: rgb(218, 218, 218);
}

#search-input-3 button {
    margin: 2px 0 0 0;
    background-color: #fff;
    box-shadow: none;
    border: 0;
    color: rgb(172, 172, 172);
    padding: 0 15px 0 15px !important;
    height: 60px;
    width: 50px !important;
}

#search-input-3 button:hover {
    border: 0;
    box-shadow: none;
    color: rgb(240, 182, 73);
}

.embed-item {
    width: 100%;
    height: 100%;
}

.img-item {
    padding: 0px !important;
    width: 100%;
    height: 100%;
}

.img-text {
    position: absolute;
    bottom: 20%;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 12px;
}

/* Comment Tab */

#comment {
    position: relative;
    width: auto;
    height: 100%;
    padding: 20px 0px 50px 0px;
    margin: 0 25px 0 25px;
}

#comment .card {
    border: 1px solid rgb(214, 214, 214) !important;
}

.video-title {
    color: rgb(119, 119, 119);
}

.i-style {
    text-decoration: none;
    font-size: 14px;
    margin: 0px 10px;
    color: rgb(214, 214, 214);
}

.i-style:hover {
    color: rgb(119, 119, 119);
    text-decoration: none;
}

#comment .h-line {
    width: 100%;
    height: 1px;
    margin: 15px 0px;
    background-color: rgb(214, 214, 214);
}

.card-username {
    margin-top: 18px;
    font-size: 12px;
    color: rgb(119, 119, 119);
}

.btn-v {
    font-size: 14px;
    width: 100px;
    margin-top: 8px;
    border: 3px solid rgb(214, 214, 214);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.btn-v:hover {
    background-color: rgb(243, 243, 243);
}

.btn-v2 {
    width: 100px;
    font-size: 14px;
    margin-top: 8px;
    border: 3px solid rgb(214, 214, 214);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.btn-v2:hover {
    background-color: rgb(243, 243, 243);
}

.tags {
    margin-top: 15px;
}

.i-style2 {
    text-decoration: none;
    font-size: 14px;
    margin: 0 5px 0 30px;
    color: rgb(214, 214, 214);
}

.i-style2:hover {
    color: rgb(119, 119, 119);
}

.v-num {
    font-size: 12px;
    color: rgb(119, 119, 119);
}

.card-block .card-title {
    font-size: 12px;
    margin-bottom: 0px !important;
}

.card-block .card-user {
    font-size: 8px;
}

.card-block a {
    text-decoration: none;
    color: rgb(119, 119, 119);
}

#comment .card-img {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.comment-text {
    font-size: 10px;
    color: rgb(119, 119, 119);
    text-align: justify;
}

.btn-comment {
    font-size: 10px;
    width: auto;
    height: 25px;
    border-radius: 0;
    border-bottom: 1px solid #fff;
}

.btn-comment:hover {
    border-bottom: 1px solid rgb(214, 214, 214);
}

.i-style3 {
    text-decoration: none;
    font-size: 14px;
    margin: 0 5px 0 5px;
    color: rgb(214, 214, 214);
}

.i-style3:hover {
    color: rgb(119, 119, 119);
}

.bar-title {
    padding-left: 20px;
    font-size: 16px;
    color: rgb(119, 119, 119);
}

.bar-title span {
    padding-left: 20px;
}

.photo-box {
    padding: 0 5px !important;
    margin: 5px 0 !important;
}

.photo-box .card-img {
    border-radius: 0px !important;
}