/* Hearder Search */

#header-search {
    position: relative;
    width: auto;
    height: 100%;
    background-color: #6c757d;
    padding-top: 150px;
}

#search-input-2 .input-group {
    background-color: rgb(255, 255, 255);
    width: 75%;
    margin: auto;
}

#search-input-2 input {
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid rgb(255, 255, 255);
    box-shadow: none;
    background-color: rgb(255, 255, 255);
    color: rgb(119, 119, 119);
    height: 60px;
    margin: auto;
    margin-left: 10px !important;
    font-size: 22px;
}

input[type="search"].search-text-2::-webkit-input-placeholder {
    color: rgb(218, 218, 218);
}

#search-input-2 button {
    margin: 2px 0 0 0;
    background-color: #fff;
    box-shadow: none;
    border: 0;
    color: rgb(172, 172, 172);
    padding: 0 15px 0 15px !important;
    height: 60px;
    width: 50px !important;
}

#search-input-2 button:hover {
    border: 0;
    box-shadow: none;
    color: rgb(240, 182, 73);
}

.up-tags {
    margin-top: 50px;
    margin-left: 35px;
    margin-right: 35px;
}

.up-tags .trend-vid-tag {
    padding: 18px 0 0 0;
    color: #fff;
    font-size: 18px;
}

.up-tags a {
    padding-left: 50px;
    color: #fff;
}

.btn-up-tags {
    width: 80px;
    height: 60px;
    border-radius: 50px;
    color: #fff;
    background-color: #979797 !important;
}

.btn-up-tags:hover {
    color: #979797;
    background-color: #fff !important;
}

.vid-grup {
    display: flex;
    justify-content: flex-start;
}

.date-grup {
    display: flex;
    justify-content: center;
}

.arrow-grup {
    display: flex;
    justify-content: flex-end;
}

.btn-arrow {
    padding-top: 10px;
}

.btn-a {
    width: 40px;
    height: 40px;
    font-size: 12px;
    background: none;
    color: #fff;
}

.btn-a:hover {
    color: #979797;
}

.tag-img {
    width: 100%;
    height: 300px;
    border-radius: 0px;
}

.tag-text {
    width: 80%;
    height: 100px;
    margin: auto;
    color: #fff;
    padding: 50px 10px 0px 10px !important;
}

#header-search .card-text {
    padding-top: 0px !important
}

#header-search .h-line {
    width: 40px;
    height: 2px;
    margin-bottom: 12px;
}

@media (max-width: 991.98px) {
    .vid-grup {
        justify-content: center;
        margin-bottom: 30px;
    }

    .date-grup {
        justify-content: center;
        margin-bottom: 10px;
    }

    .arrow-grup {
        justify-content: center;
    }
}

/* Result */

#result {
    position: relative;
    width: auto;
    height: 100%;
    padding-top: 50px;
    padding-bottom: 30px;
}

#result h6 {
    font-size: 16px;
    color: #979797;
}

#result .h-line {
    position: relative;
    left: 10%;
    width: 40px;
    height: 2px;
    margin-bottom: 12px;
}

.result-img {
    border-radius: 0px !important;
}

.img-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
    opacity: 0.7;
}

.img-overlay-2 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: none;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.tag-card:hover .img-overlay {
    height: 50%;
}

.tag-card:hover .img-overlay-2 {
    height: 50%;
}

#result .card-title {
    position: relative;
    color: #fff;
    left: 10%;
}

#result a:hover {
    text-decoration: none;
}

#result .card-text {
    position: relative;
    width: 80%;
    top: -45%;
    left: 10%;
    color: #fff;
    font-size: 8px;
}

.search-pagination {
    margin-top: 40px;
}

.page-item a {
    color: rgb(73, 165, 240);
}

.page-item a:hover {
    color: #fff;
    background-color: rgb(73, 165, 240);
}

/* Popular Download */

#popular-dl {
    position: relative;
    width: auto;
    height: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #f3f3f3;
}

#popular-dl .card .card-img {
    border-radius: 0px !important;
}

#popular-dl .card-title {
    margin: 20px 0 0 20px;
    color: #979797;
    font-size: 16px;
}

#popular-dl .card-user {
    margin: 20px 0 0 20px;
    color: #bbbbbb;
    font-size: 12px;
}

#popular-dl a {
    text-decoration: none;
}