@import 'homepage.css';
@import 'blog.css';
@import 'search.css';
@import 'result-detail.css';
@import 'login-register.css';

body {
    position: relative;
    top: 0em;
    bottom: 0em;
    margin: 0px;
    padding: 0px;
}