/* Header */

#header-blog {
    position: relative;
    width: auto;
    height: 100%;
    padding-top: 80px;
    background-color: #808080;
}

.jumbotron {
    padding-bottom: 0px !important;
}

#header-blog h3 {
    font-size: 36px;
    color: #fff;
}

#header-blog h6 {
    font-size: 14px;
    color: rgb(73, 165, 240);
}

.blog-title {
    padding-top: 50px;
}

.blog-title-text {
    font-size: 12px;
    color: #fff;
    width: auto;
    margin: 50px auto;
}

#header-blog .card {
    margin: auto !important;
    width: 100%;
    height: 100%;
    border-radius: 0px;
    background-color: #808080;
}

.header-img {
    width: 100%;
    height: 100%;
    border: 1px solid rgb(122, 122, 122);
    margin: auto;
}

/* Card Collection */

#card-collection {
    position: relative;
    padding: 10px 15px 20px 15px;
}

#card-collection .cards {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

#card-collection .card {
    border: 1px solid #b9b9b9 !important;
}


#card-collection .card-title {
    color: #fff;
}

#card-collection .card-photo-title {
    color: #000;
    font-size: 16px;
}

#card-collection .card-photo-text {
    color: #b9b9b9;
    font-size: 12px;
}

/* Content Image */

#content-image {
    position: relative;
    padding: 50px 15px 50px 15px;
}

.h-px {
    height: 600px !important;
}

#content-image .carousel-inner {
    border-radius: 10px !important;
}

#content-image .carousel-caption {
    width: 90%;
    left: 0px !important;
    right: 0px !important;
    margin: 0 auto !important;
    text-align: start;
}

#content-image h3 {
    font-size: 42px;
    color: #fff;
}

#content-image p {
    font-size: 12px;
    color: #fff;
}

#content-image .card-text {
    color: #fff;
    margin-top: 12.5px;
}

#content-image .carousel-text {
    display: block;
    position: absolute;
    width: 90%;
    top: 20px;
    left: 0px !important;
    right: 0px !important;
    margin: 0 auto !important;
}

/* Content Text */

#content-text {
    position: relative;
    padding: 20px 15px 50px 15px;
    width: auto;
    height: auto;
}

#content-text h6 {
    font-size: 14px;
}

.text-p {
    margin-top: 50px;
    height: auto;
    text-align: justify;
    font-size: 14px;
    color: rgb(139, 139, 139);
}

/* Latest News */

#latest-news {
    position: relative;
    padding: 30px 0 5px 0;
    width: auto;
    height: auto;
}

.list-title {
    background-color: rgb(58, 72, 204) !important;
    color: #fff;
    font-size: 18px;
    text-align: center;
    height: 50px !important;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
}

#latest-news .list-group-item {
    border: none;
    background-color: #757272;
    height: 120px;
}

.news-img-box {
    width: 125px;
    height: 100px;
    margin: 0 10px;
    border-radius: 5px !important;
}

.nt-1 {
    color: rgb(44, 124, 77);
    font-size: 10px;
    margin-top: 10px;
}

.news-text {
    color: #fff;
    font-size: 11px;
}

#latest-news .list-a {
    height: 50px !important;
    font-size: 14px;
    text-align: center;
    border-top: 1px solid #9c9c9c !important;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.list-a a {
    color: rgb(238, 156, 89);
}

/* News Panel */

#news-panel {
    position: relative;
    padding: 5px 0 50px 0;
    width: auto;
    height: auto;
}

#news-panel .list-group-item {
    border: none;
    height: 120px;
}

.img-box {
    height: 500px !important;
    padding: 0px !important;
    margin-bottom: 10px;
}

.content-box {
    background: url(/asset/img/ct-img-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    border-radius: 10px !important;

}

.text-box {
    padding: 30px;
}

.s1 {
    padding-left: 20px;
    font-size: 12px;
}

.card-text {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 12px;
    text-align: justify;
}

.btn-news {
    border: 1px solid #000;
    border-radius: 50px;
    background: none;
    font-size: 10px;
    width: 100px;
}

.btn-news:hover {
    border: 1px solid #fff;
    background-color: #fff;
}

.content-box-2 {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
}

.rounded-border-10 {
    border-radius: 10px !important;
}

.buttons {
    height: 150px !important;
    padding: 0px !important;
    margin-bottom: 10px;
}

.btn-design-tab {
    background-color: rgb(66, 153, 127);
    border: 2px solid rgb(66, 153, 127);
    color: #fff;
    width: 150px;
    height: 150px;
}

.btn-design-tab:hover {
    border: 2px solid #000;
}

.btn-education-tab {
    background-color: rgb(100, 125, 194);
    border: 2px solid rgb(100, 125, 194);
    color: #fff;
    width: 150px;
    height: 150px;
}

.btn-education-tab:hover {
    border: 2px solid #000;
}