body {
    width: auto;
    height: auto;
}

.no-pd {
    padding: 0px !important;
}

.text-blue {
    color: rgb(73, 165, 240);
}

/* Navigation */

#navigation {
    position: relative;
}

.navbar {
    padding: 0px;
}

.navbar-brand {
    margin: 0 20px;
}

.nav-logo {
    width: 120px;
    height: 50px;
}

.navbar-toggler {
    height: 70px;
    width: 70px;
    background-color: rgb(73, 165, 240);
    border: none;
    border-radius: 0px !important;
}

.navbar-nav {
    margin: 0 20px;
}

#navbar-search {
    width: 100%;
}

@media (min-width: 426px) and (max-width: 450px) {
    #navbar-search {
        width: 100%;
    }

    #navbar-search .input-group {
        top: 0px !important;
        border: none;
        border-radius: 0px;
    }
}

@media (min-width: 401px) and (max-width: 425px) {
    #navbar-search {
        width: 100%;
    }

    #navbar-search .input-group {
        top: 0px !important;
        border: none;
        border-radius: 0px;
    }
}

@media (min-width: 351px) and (max-width: 400px) {
    #navbar-search {
        width: 100%;
    }

    #navbar-search .input-group {
        top: 0px !important;
        border: none;
        border-radius: 0px;
    }
}

@media (min-width: 300px) and (max-width: 350px) {
    #navbar-search {
        width: 100%;
    }

    #navbar-search .input-group {
        top: 0px !important;
        border: none;
        border-radius: 0px;
    }
}

#navbar-search .input-group-text {
    border: none !important;
    background: none;
    color: rgb(172, 172, 172);
}

#navbar-search .form-control {
    border: none !important;
    background: none;
    color: rgb(172, 172, 172);
    width: auto;
    height: 100%;
}

#navbar-search .catagory {
    border: none !important;
    border-radius: 0px;
    color: rgb(172, 172, 172);
    width: auto !important;
    height: 100%;
    background: none;
}

#navbar-search .dropdown-menu {
    left: -23vw;
    font-size: 14px;
    border-radius: 0px;
}

#navbar-search .btn-search {
    border: none !important;
    background-color: rgb(73, 165, 240);
    color: #fff;
    font-size: 14px;
    padding: 5px !important;
    width: 50px;

}

/* Jumbotron */

#header {
    position: relative;
    margin: 0px 0 0 0;
    padding: 0px;
}

.bg-img {
    position: relative;
    width: 100%;
    height: 130%;
}

.header-title {
    position: absolute;
    top: 50px;
    width: 100%;
    text-align: center;
    color: #fff;
}

.upper-title-text {
    font-style: italic !important;
    font-size: 12px;
}

#header h1 {
    font-style: italic;
    font-size: 38px !important;
    color: #000 !important;
}

#header p {
    font-size: 10px;
    width: 200px;
    margin: 0 auto;
}

.title-btn .btn {
    font-size: 38px;
    border: 0;
    border-radius: 0px;
    background: none;
    color: #fff;
}

.input-group {
    position: relative;
    width: 90%;
    height: 50px;
    margin: 0 auto;
    top: 7vh;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 3px 6px 0 rgba(102, 102, 102, 0.15), 0 6px 16px 0 rgba(102, 102, 102, 0.19);
}

.search-btn {
    background-color: #fff;
    color: rgb(145, 145, 145);
    width: 40px;
    padding: 0px;
}

.search-text {
    border: none;
    height: 100%;
}

/* Popular Video */

#popular-vid {
    position: relative;
    top: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.section-header .title-bar {
    font-size: 28px;
}

.title-bar:after {
    content: "";
    display: block;
    height: 4px;
    width: 60px;
    background-color: rgb(73, 165, 240);
    margin-top: 5px;
}

.text-center .title-bar:after {
    margin: 20px auto 0px;
}

.card {
    border: none !important;
    background-color: none !important;
    background-clip: none !important;
    margin: 15px !important;
}

.user-card-img {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.card-title {
    margin-top: 15px;
    font-size: 16px;
}

.card-hour {
    margin-top: 15px;
    color: #b6b6b6;
    font-size: 12px;
}

#popular-vid a {
    text-decoration: none;
    color: #000;
}

#popular-vid a:hover {
    color: #b6b6b6;
}

.pop-vid-btn {
    color: #000;
    font-size: 16px;
    background: none;
    border-radius: 0px;
    border-bottom: 1px solid #fff;
    margin-top: 10px;
}

.pop-vid-btn:hover {
    border-bottom: 1px solid #b6b6b6;
}

/* Fitured Photo */


#fitured-photo {
    position: relative;
    top: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.section-header .title-bar-2 {
    font-size: 36px;
}

.title-btn {
    margin-top: 20px;
}

.title-btn .btn-2 {
    font-size: 12px;
    border: 0;
    border-radius: 0px;
    border-bottom: 1px solid #6c757d;
    width: auto;
    background-color: #6c757d;
    color: rgb(73, 165, 240);
}

.title-btn .btn-2:hover {
    border: 0;
    border-radius: 0px;
    border-bottom: 1px solid rgb(73, 165, 240);
    width: auto;
}

/* Indonesia Baik */

#indonesia-baik {
    position: relative;
    top: 60px;
    padding-top: 50px;
    padding-bottom: 5px;
}

#indonesia-baik .card {
    background: none;
}

#indonesia-baik .card-body {
    position: absolute;
    top: 30px;
    left: -30px;
}

#indonesia-baik .card-body2 {
    position: absolute;
    top: 30px;
    right: -10px;
}

#indonesia-baik .card-title {
    color: rgb(73, 165, 240);
    font-size: 64px;
    text-align: start;
}

#indonesia-baik .card-title2 {
    color: rgb(73, 165, 240);
    font-size: 64px;
    text-align: end;
}

.id-img {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    position: relative;
    left: 30px;
}

.id-img2 {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    position: relative;
    right: 30px;
}

#indonesia-baik .card-text {
    position: relative;
    width: 150px;
    top: -40px;
    left: 5px;
    font-size: 10px;
}

#indonesia-baik .card-text2 {
    position: relative;
    width: 150px;
    font-size: 10px;
    text-align: end;
}

.h-line {
    background-color: #000;
    width: 250px;
    height: 1px;
    border: none;
    margin: 0 auto 50px auto;
}

#indonesia-baik .vm-btn {
    position: relative;
    right: 67px;
    top: -45px;
    background: none;
    font-size: 12px;
    color: rgb(54, 126, 185);
    border-bottom: 1px solid rgb(54, 126, 185);
    ;
}

#indonesia-baik .vm-btn2 {
    position: relative;
    top: -70px;
    right: 30px;
    background: none;
    font-size: 12px;
    color: rgb(54, 126, 185);
    border-bottom: 1px solid rgb(54, 126, 185);
    ;
}

/* Register Now */

#register-now {
    position: relative;
    margin-top: 50px;
}

.reg-bg-img {
    position: relative;
    background-size: cover;
    width: 100%;
    height: 300px;
}

.reg-title {
    position: absolute;
    top: 50px;
    width: 100%;
    text-align: center;
    color: #fff;
}

.btn-register {
    width: 120px;
    background-color: rgb(216, 151, 67);
    border-radius: 50px;
    color: white;
    margin-top: 50px;
    font-size: 12px;
}

.btn-register:hover {
    width: 120px;
    background-color: rgb(214, 136, 34);
    border-radius: 50px;
    color: white;
}

/* Event */

#event {
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
}

.v-line {
    border-right: 1px solid rgb(187, 187, 187);
    height: 50px;
}

.about-event {
    color: rgb(187, 187, 187);
    font-size: 10px;
    margin-top: 20px;
    margin-right: -18px !important;
}

.about-event:after {
    content: "";
    display: block;
    height: 1px;
    width: 80px;
    background-color: rgb(187, 187, 187);
    margin-top: 10px;
    margin-left: -7.5px !important;
}

.title-event {
    font-size: 56px;
    margin-top: 10px;
}

.black-box {
    position: relative;
    background-color: rgb(53, 53, 53);
    border-radius: 10px;
    width: auto;
    height: 350px;
}

.event-table {
    position: absolute;
    top: 40px;
    left: 5%;
    width: 90%;
    height: 200px;

}

.list-group-item {
    color: #fff;
    background: none;
    font-size: 10px;
    height: 50px;
    padding: 10px 0 10px 0 !important;
    border-color: #525151;
}

#event .p2 {
    font-size: 8px;
    color: #b6b6b6;
    font-style: italic;
}

#event .clock-icon {
    color: rgb(54, 126, 185);
    padding-right: 5px;
}

#event .number-icon {
    color: rgb(54, 126, 185);
}

#event p {
    font-size: 8px;
    color: #b6b6b6;
    font-style: italic;
}

.btn-event {
    font-size: 12px;
    border: 0;
    border-radius: 0px;
    border-bottom: 1px solid #6c757d;
    width: auto;
    background: none;
    color: #fff;
}

.btn-event:hover {
    border: 0;
    border-radius: 0px;
    border-bottom: 1px solid #fff;
    width: auto;
}

.figure {
    position: relative;
    top: -30px;
    left: 5%;
    width: 90%;
}

.figure-img {
    border-radius: 10px !important;
    box-shadow: 0 6px 20px 0 rgba(102, 102, 102, 1.5), 0 10px 16px 0 rgba(102, 102, 102, 0.19);
}

#event .yml-title {
    position: relative;
    left: 5%;
    font-size: 42px;
    margin: 20px 20px 0 20px;
    padding-top: 50px;
}

/* YML */

#yml {
    position: relative;
    padding-top: 30px;
    padding-bottom: 50px;
    background-color: #cecece;
}

#yml .card {
    background: none;
}

#yml .card-body-2 {
    padding-left: 0px !important;
    margin-left: -40px !important;
    margin-right: 20px !important;
}

#yml .card-title {
    font-size: 32px;
    margin-bottom: 30px !important;
}

#yml .card-text {
    color: #5d5d5e;
    font-size: 14px;
}

#yml .btn-e {
    margin-top: 50px;
    background-color: rgb(73, 165, 240);
    width: 180px;
    height: 150px;
    border: 2px solid rgb(73, 165, 240);
    border-radius: 0px;
    color: #fff;
    font-size: 20px;
}

#yml .btn-e:hover {
    border: 2px solid #fff;
}

#yml .h-line {
    background-color: rgb(138, 138, 138);
    width: 250px;
    height: 1px;
    border: none;
    margin: 5px 0 20px 20px !important;
}

#yml .h-line-2 {
    background-color: rgb(138, 138, 138);
    width: 300px;
    height: 1px;
    border: none;
    margin-top: 5px;
    margin-left: -40px;
}

#yml .date {
    margin-top: 10px;
    font-size: 10px;
    color: rgb(112, 112, 112);
    margin-left: -20px;
}

#yml .date-2 {
    font-size: 10px;
    color: rgb(112, 112, 112);
    margin-left: 40px;
}

#yml .v-line-time {
    background-color: rgb(138, 138, 138);
    width: 1px;
    height: 15px;
    border: none;
    margin-left: -5px;
    margin-right: 15px;
}

/* Footer */

#footer {
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgb(73, 165, 240);
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
}

#footer .footer-logo {
    margin: 5px;
    margin-left: auto;
    margin-right: auto;
}

#footer .f-web {
    color: #fff;
    font-size: 10px;
    margin-top: 5px;
}

#footer table th {
    padding-right: 5px;
    padding-bottom: 10px;
    width: 160px;
    font-size: 14px;
    color: #fff;
}

#footer table tr td {
    padding-right: 5px;
    padding-bottom: 10px;
    width: 160px;
    font-size: 12px;
    color: #fff;
}

#footer .footer-table a {
    color: #f0eeec;
}

#footer .footer-table a:hover {
    color: #fff;
}

#footer .btn-7 {
    font-size: 12px;
    border: 0;
    border-radius: 0px;
    border-bottom: 1px solid #c9c9c9;
    width: auto;
    background: none;
    color: #fff;
}

#footer .btn-7:hover {
    border: 0;
    border-radius: 0px;
    border-bottom: 1px solid #fff;
    width: auto;
}

#footer .list-group-item {
    background: none !important;
    border: 0px;
    font-size: 10px;
    margin: 0px !important;
    padding: 5px 0 0 0 !important;
    color: #fff;
}

#footer .input-group {
    top: -1px;
    width: 280px;
}