/* Login-Register */

#login-register {
    padding: 0px;
}

#login-register h5 {
    color: #737271;
    font-size: 24px;
    text-align: center;
    margin-bottom: 40px;
}

#login-register h6 {
    color: #737271;
    font-size: 16px;
    margin-bottom: 20px;
    padding-left: 20px;
}

#login-register p {
    color: rgb(184, 184, 184);
    font-size: 10px;
}

.box {
    background-color: white;
    margin: 50px auto;
    padding: 20px 10px 50px 10px;
}

.login-img {
    width: 100%;
    height: 100px;
}

.img {
    position: relative;
    width: 150px;
    height: 70px;
}

.hr-style {
    height: 2px;
    border: 0;
    box-shadow: 0 10px 10px -10px rgb(184, 184, 184) inset;
    margin-bottom: 20px;
}

#login-register .form-control {
    background-color: rgb(206, 238, 253);
    border: none;
    border-radius: 50px;
    width: 90%;
    margin: auto;
}

.forget {
    font-size: 12px;
    margin: 30px 0;
}

.forget a {
    padding: 0 5px;
    text-decoration: none;
    color: #000;
}

.forget a:hover {
    color: rgb(73, 165, 240);
}

.btn-sign {
    background-color: #fff;
    border-radius: 50px;
    border: 1px solid #737271;
    width: 120px;
    margin: 0 20px;
}

.btn-sign:hover {
    color: #fff;
    background-color: rgb(73, 165, 240);
    border: 1px solid rgb(73, 165, 240);
}