#header-result {
    position: relative;
    top: 0;
    width: auto;
    height: 100%;
    margin: 0px !important;
    background-color: rgb(119, 119, 119);
}

#header-result .result-search-bar {
    padding-bottom: 10%;
}

.embed-item {
    width: 100%;
    height: 100%;
}

#header-result .embed-text {
    position: absolute;
    top: 20px;
    width: 90%;
    margin: 0 20px;
}

.embed-text h6 {
    font-size: 14px;
    color: #fff;
}

/* Comment Tab */

#comment {
    position: relative;
    width: auto;
    height: 100%;
    background-color: rgb(119, 119, 119);
}

#comment .card {
    border: 1px solid rgb(214, 214, 214) !important;
}

.video-title {
    margin-top: 30px;
    color: rgb(119, 119, 119);
}

.video-title h6 {
    font-size: 12px;
}

.i-style {
    text-decoration: none;
    font-size: 14px;
    margin: 0px 10px;
    color: rgb(214, 214, 214);
}

.i-style:hover {
    color: rgb(119, 119, 119);
    text-decoration: none;
}

#comment .h-line {
    width: 100%;
    height: 1px;
    margin: 15px 0px;
    background-color: rgb(214, 214, 214);
}

.card-username {
    margin: 20px 0;
    font-size: 12px;
    color: rgb(119, 119, 119);
}


.btn-v {
    font-size: 10px;
    width: 60px;
    margin-top: 8px;
    padding: 0px;
    border: 3px solid rgb(214, 214, 214);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.btn-v:hover {
    background-color: rgb(243, 243, 243);
}

.btn-v2 {
    font-size: 10px;
    width: 60px;
    margin-top: 8px;
    padding: 0px;
    border: 3px solid rgb(214, 214, 214);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.btn-v2:hover {
    background-color: rgb(243, 243, 243);
}

.tags {
    margin-top: 5px;
}

.i-style2 {
    text-decoration: none;
    font-size: 12px;
    margin: 0 5px 0 5px;
    color: rgb(214, 214, 214);
}

.i-style2:hover {
    color: rgb(119, 119, 119);
}

.v-num {
    font-size: 12px;
    color: rgb(119, 119, 119);
}

.card-block .card-title {
    font-size: 12px;
    margin-bottom: 0px !important;
}

.card-block .card-user {
    font-size: 8px;
}

.card-block a {
    text-decoration: none;
    color: rgb(119, 119, 119);
}

#comment .card-img {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.comment-text {
    font-size: 10px;
    color: rgb(119, 119, 119);
    text-align: justify;
}

.btn-comment {
    font-size: 10px;
    width: auto;
    height: 25px;
    border-radius: 0;
    border-bottom: 1px solid #fff;
    background: none;
    color: rgb(73, 165, 240);
}

.btn-comment:hover {
    border-bottom: 1px solid rgb(73, 165, 240);
}

.i-style3 {
    text-decoration: none;
    font-size: 14px;
    margin: 0 5px 0 5px;
    color: rgb(214, 214, 214);
}

.i-style3:hover {
    color: rgb(119, 119, 119);
}

/* Suggestion Box */

#suggestion-box {
    position: relative;
    width: auto;
    height: 100%;
    padding: 30px 0;
}

.list-group {
    height: auto;
}

.list-group-item {
    border: 1px solid rgb(218, 218, 218);
    box-shadow: 0 3px 6px 0 rgba(102, 102, 102, 0.15), 0 6px 16px 0 rgba(102, 102, 102, 0.19);
}


.sugges-title h6 {
    color: rgb(160, 160, 160);
    padding: 0 30px;
    font-size: 18px;
}

.img-item {
    padding: 0px !important;
    width: 100%;
    height: 100%;
}

.rounded-bottom {
    border-bottom-left-radius: 3px !important;
    border-bottom-right-radius: 3px !important;
}

.img-text {
    position: absolute;
    bottom: 20%;
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 12px;
}

/* Most Downloaded */

#most-downloaded {
    position: relative;
    width: auto;
    height: 100%;
    padding-bottom: 50px;
    background-color: rgb(206, 206, 206);
}

.bar-title {
    padding-left: 20px;
    font-size: 18px;
    color: #000;
}

.bar-title span {
    padding-left: 20px;
}

.photo-box {
    padding: 0 5px !important;
    margin: 5px 0 !important;
}

.photo-box .card-img {
    border-radius: 0px !important;
}

#most-downloaded .btn-comment {
    font-size: 12px;
    width: auto;
    height: 25px;
    border-radius: 0;
    border-bottom: 1px solid rgb(206, 206, 206);
    background: none;
    color: rgb(73, 165, 240);
}

#most-downloaded .btn-comment:hover {
    border-bottom: 1px solid rgb(73, 165, 240);
}