/* Hearder Search */

#header-search {
    position: relative;
    width: auto;
    height: 100%;
    background-color: #6c757d;
    padding-top: 50px;
    padding-bottom: 30px !important;
    margin-bottom: 0px;
}

#search-input-2 .input-group {
    position: relative;
    background-color: rgb(255, 255, 255);
    width: 95%;
    height: 60px;
    margin: auto;
}

#search-input-2 input {
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid rgb(255, 255, 255);
    box-shadow: none;
    background-color: rgb(255, 255, 255);
    color: rgb(119, 119, 119);
    height: 60px;
    margin: auto;
    margin-left: 10px !important;
    font-size: 12px;
}

input[type="search"].search-text-2::-webkit-input-placeholder {
    color: rgb(218, 218, 218);
}

#search-input-2 button {
    margin: 10px 0 0 0;
    background-color: #fff;
    box-shadow: none;
    border: 0;
    color: rgb(172, 172, 172);
    padding: 0 5px 0 5px !important;
    height: 40px;
    width: 50px !important;
    font-size: 18px;
}

#search-input-2 button:hover {
    border: 0;
    box-shadow: none;
    color: rgb(73, 165, 240);
}

#search-input-2 button p {
    font-size: 8px;
    margin: 0px;
}

.up-tags {
    margin-top: 50px;
    margin-left: 35px;
    margin-right: 35px;
    text-align: center;
}

.trend-vid-tag {
    padding: 40px 0;
    color: #fff;
    font-size: 18px;
}

.up-tags a {
    color: #fff;
    padding: 0 0 0px 30px;
    font-size: 12px;
}

.btn-up-tags {
    width: 80px;
    height: 50px;
    border-radius: 50px;
    color: #fff;
    font-size: 14px;
    background-color: #979797 !important;
}

.btn-up-tags:hover {
    color: #979797;
    background-color: #fff !important;
}

.tag-img {
    width: 100%;
    height: 300px;
    border-radius: 0px;
}

.tag-text {
    width: 80%;
    height: 100px;
    margin: auto;
    color: #fff;
    padding: 50px 10px 0px 10px !important;
}

#header-search .card-text {
    padding-top: 0px !important
}

#header-search .h-line {
    width: 40px;
    height: 2px;
    margin-bottom: 12px;
}

/* Result */

#result {
    position: relative;
    width: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.result-text {
    padding-bottom: 20px;
}

#result h6 {
    font-size: 10px;
    color: #979797;
}

#result .card {
    border: none !important;
    background-color: none !important;
    background-clip: none !important;
    margin: 3px !important;
}

#result .user-card-img {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    object-fit: cover;
}

#result .card-title {
    margin-top: 5px;
    font-size: 10px;
}

#result .card-text {
    font-size: 8px;
    margin: 10px 5px 0 5px;
    width: auto;
    height: 50px;
    text-align: start;
}

.result-btn {
    margin-top: 10px;
    font-size: 10px;
    background: none;
    color: rgb(73, 165, 240);
    border-radius: 0px;
    border-bottom: 1px solid rgb(255, 255, 255);
}

.result-btn:hover {
    border-bottom: 1px solid rgb(73, 165, 240);
}

/* Popular Download */

#popular-dl {
    position: relative;
    width: auto;
    height: 100%;
    background-color: #c9cfd4;
    padding-top: 30px;
    padding-bottom: 30px !important;
    margin-bottom: 0px;
}

.popular-dl-title {
    font-size: 14px;
    color: #000;
}

.popular-dl-title i {
    margin-right: 5px;
}

#popular-dl .card {
    border-radius: 0px;
    margin: 5px 0px !important;
}

#popular-dl .card-img {
    border-radius: 0px;
}

.popular-btn {
    margin-top: 10px;
    font-size: 10px;
    background: none;
    color: rgb(73, 165, 240);
    border-radius: 0px;
    border-bottom: 1px solid #c9cfd4;
}

.popular-btn:hover {
    border-bottom: 1px solid rgb(73, 165, 240);
}