@import 'homepage.css';
@import 'blog.css';
@import 'search.css';
@import 'result-detail.css';
@import 'login-register.css';

body {
    background-color: rgb(245, 245, 245);
}

#body-wrapper {
    width: 375px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
}

#navbar-search .input-group {
    top: 0px !important;
    width: 375px;
    height: 60px;
    border: none;
    border-radius: 0px;
}

@media (min-width: 426px) and (max-width: 450px) {
    #body-wrapper {
        width: 100%;
        margin: 0 auto;
        background-color: rgb(255, 255, 255);
    }
}

@media (min-width: 401px) and (max-width: 425px) {
    #body-wrapper {
        width: 100%;
        margin: 0 auto;
        background-color: rgb(255, 255, 255);
    }
}

@media (min-width: 351px) and (max-width: 400px) {
    #body-wrapper {
        width: 100%;
        margin: 0 auto;
        background-color: rgb(255, 255, 255);
    }
}

@media (min-width: 300px) and (max-width: 350px) {
    #body-wrapper {
        width: 100%;
        margin: 0 auto;
        background-color: rgb(255, 255, 255);
    }
}